@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Arizonia&family=Bangers&family=Bungee+Inline&family=Cabin+Sketch:wght@400;700&family=Caveat:wght@400..700&family=Eater&family=Faculty+Glyphic&family=Fredericka+the+Great&family=Libre+Barcode+39&family=Marmelad&family=Merienda:wght@300..900&family=Orbitron&family=Pacifico&family=Playwrite+DE+Grund+Guides&family=Rammetto+One&family=Righteous&family=Rowdies:wght@300;400;700&family=Rubik+Bubbles&family=Rubik+Vinyl&family=Sixtyfour:SCAN@-34&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Marmelad", sans-serif;
    display: flex;
    flex-direction: column;
    
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #5db9ee, #252526 70%);
    background-size: cover;
    color: white;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #aec380;
}
.logo{
    padding: 20px 0 20px 60px;
    color: #375534;
    font-weight: bolder;
    font-size: 25px;
}
ul{
    list-style: none;
    padding: 20px 60px 20px 0px;
}
ul li{
    display: flex;
    flex-direction: row;
    gap: 40px;

}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;

}
ul li a:hover{
    color: #526c03;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.left_cont, .right_cont{
    height: 93vh;
    display: flex;
    align-items: center;
}

.left_cont{
    background: #0f2a1d;
    width: 70%;
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
}
.right_cont{
    background: linear-gradient(-45deg,#6b9071,#0f2a1d 70%);
    width: 30%;
    padding-right: 3rem;
}

.design .circle{
    aspect-ratio: 1;
    position: absolute;
    border-radius: 500px 200px 500px 200px;
    top: 54%;
    left: 68%;
    transform: translate(-50%, -50%);
}
.circle:nth-child(1){
    background: linear-gradient(90deg, transparent 50%, #252526 50%);
    width: 35rem;
}
.circle:nth-child(2){
    width: 30rem;
    background-image: url(icons/photo1-removebg-preview.png);
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 0 0 1rem #e3eed4, inset  0 0 1rem #e3eed4, 0 0 2rem #e3eed4, inset
    0 0 2rem #e3eed4, 0 0 3rem #e3eed4, inset 0 0 3rem #e3eed4;
    border: .5rem solid #fff;
}
.cont{
    padding-left: 5rem;
}
.links{
    display: flex;
    padding-left: 5rem;
    padding-top: 1rem;
    gap: 15px;
}
.links a{
    text-decoration: none;
    color: #e3eed4;
    font-size: 1.5rem;
}
.links a:hover{
    color: #bdf806;
}
.button{
    padding-left: 5rem;
    padding-top: 50px;
}
.btn{
    width: 100px;
    height: 30px;
    background-color: #bdf806;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight:bold;
    cursor: pointer;
}
.btn:hover{
    background-color: #e3eed4;
    border: #000000 solid 1px;
}
.cont p:nth-child(1){
    font-size: 2em;
    color: #e3eed4;
}
.cont span{
    color: #bdf806;
}
.cont p:nth-child(2){
    font-size: 5em;
    font-weight: bold;
    color: #d8e267;
}
.cont p:nth-child(3){
    font-size: 1em;
}
.cont p:nth-child(4){
    font-size: 1em;
}

.about{
    width: 100%;
    height: 85vh;
    background-color: #e3eed4;
}
.about_info{
    display: flex;
    flex-direction: row;
    padding: 100px;
    gap: 20px;

}
.info{
    padding: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 800px;
    border: #375534 solid 1px;
    border-radius: 10px;
    box-shadow: #252526 10px 10px 10px;
}
.info h2{
    font-size: 3rem;
    font-weight: bold;
}
.info h5{
    font-size: 1.2rem;
}
.info p{
    font-size: 15px;
}
.info span{
    color: #7da505;
    font-weight: 800;
}
.poster{
    padding-left: 50px;
    padding-top: ;
}
.poster img{
    width: 400px;
}

.skill_info{
    width: 100%;
    height: 80vh;
    background-color: #e3eed4;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.skill_cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.skill-card{
    height: 200px;
    width: 200px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-card{
    cursor: pointer;
}
.skill-card h5{
    font-size: 20px;
    font-weight: bold;
}
.skill-card p{
    font-size: 15px;
}
.skill-card img{
    width: 130px;
    height: 130px;
}
.skill-card img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.projects{
    padding-top: 20px;
    background-color: #e3eed4;
    height:80vh;
}
.project_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.project_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.project-card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: #252526 10px 10px 10px;
}
.card-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-info p:nth-child(1){
    font-size: 20px;
    font-weight: bold;
}
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.project-card img{
    width: 300px;
    height: 150px;
    border-radius: 10px 10px 0 0;
}
.contact_info{
    background-color: #e3eed4;
    width: 100%;
    height: 100vh;
}
.contact_info h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.contact_head h2{
    padding: 50px;
    font-size: 2rem;
    font-weight: bold;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0 10px 30px;
    border: #375534 solid 1px;
    border-radius: 10px;
    box-shadow: #252526 10px 10px 10px;
    width: 100vh;
}
.cc-1 label{
    font-size: 20px;
    font-weight: bold;
}
.cc-1 input{
    width: 20rem;
    height: 1.4rem;
}
footer{
    background-color: #000000;
    color: #e3eed4;
}
.footer_info{
    font-size: 15px;
    display: flex;
    align-items: center;
    margin: 20px;
}
.footer_logo span{
    color: #bdf806;
}
.footer_logo span:nth-child(2){
    font-size: 10px;
}
.additional_info ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.additional_info ul li a{
    color: #e3eed4;
    font-size: 15px;
}
.additional_info ul li a:hover{
    color: #bdf806;
}